<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Stewie Griffin Tweet Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="utf-8">
    <meta name="description" content="A Website to get tweets from stewie griffin"/>
    <meta name="keywords" content="family guy, stewie"/>
    <meta name="author" content="Medi Assumani"/>
    <title>Stwie Griffin Tweet Generator</title>
    <script>
function refreshPage(){
    window.location.reload();
}
</script>
  </head>

  <body>
      <h1>Stewie Griffin Tweet Generator</h1>
      </br>
      <div class="content">
        <div class="sup">
          <img src="./static/assets/stewie.png" width="500" height="500">
          <h3 class="tweet">{{sentence}}</h3>
          <button type="submit"  onClick="refreshPage()">Get new Tweet</button>
        </div>
      </div>
  </body>
</html>
